Git fetch fails via dumb-https protocol

**Problem**

I am setting up a self-hosted git repository.  `git` itself has no problem accessing it but using it as a `cargo` dependency fails due to the server not sending a `Content-Type` header:

```
e@msi:~/Workbench/rust/tylisp$ cargo build
    Updating git repository `https://2-71828.com/git/typenum-uuid`
warning: spurious network error (2 tries remaining): no content-type header in response; class=Http (34)
warning: spurious network error (1 tries remaining): no content-type header in response; class=Http (34)
error: failed to get `typenum-uuid` as a dependency of package `tylisp v0.1.0 (/home/e/Workbench/rust/tylisp)`

Caused by:
  failed to load source for dependency `typenum-uuid`

Caused by:
  Unable to update https://2-71828.com/git/typenum-uuid

Caused by:
  failed to clone into: /home/e/.cargo/git/db/typenum-uuid-2731038279e3575f

Caused by:
  network failure seems to have happened
  if a proxy or similar is necessary `net.git-fetch-with-cli` may help here
  https://doc.rust-lang.org/cargo/reference/config.html#netgit-fetch-with-cli

Caused by:
  no content-type header in response; class=Http (34)
```


<!-- Thanks for filing a 🐛 bug report 😄! -->

<!-- A clear and concise description of what the bug is. -->
<!-- including what currently happens and what you expected to happen. -->

**Steps**
<!-- The steps to reproduce the bug. -->
1. In a temporary directory, observe that `git clone https://2-71828.com/git/typenum-uuid` executes successfully.
2. Add the following dependencies to `Cargo.toml` in a test project:
```
[dependencies]
typenum = "1.12.0"
typenum-uuid = { git = "https://2-71828.com/git/typenum-uuid" }
```
3. Attempt to build the project

**Notes**


* Output of `cargo version`: `cargo 1.47.0 (f3c7e066a 2020-08-28)`

* The suggested `net.git-fetch-with-cli` configuration option is a valid workaround, but is necessary for any project that wishes to use this crate.

* The relevant specifications are the [`git` protocol specification](https://www.git-scm.com/docs/http-protocol#_discovering_references):

> Clients MUST NOT attempt to validate the returned Content-Type.

and the [HTTP 1.1 specification](https://tools.ietf.org/html/rfc7231#section-3.1.1.5):

>  If a Content-Type header field is not present, the recipient MAY either assume a media type of `application/octet-stream` (RFC2046, Section 4.5.1) or examine the data to determine its type.


<!-- Also, any additional context or information you feel may be relevant to the issue. -->
<!-- (e.g rust version, OS platform/distribution/version, target toolchain(s), release channel.. -->


Cargo uses [libgit2](https://github.com/libgit2/libgit2) for fetching git repositories, so maybe file an issue with that project?  However, based on previous comments, there may not be much interest in working on the dumb protocol, as they recommend using the smart protocol.  

As recommended in the error message, you can try `net.git-fetch-with-cli` to use the local git cli instead.


Or you can try a temporary setup. In Ubuntu, ```export CARGO_NET_GIT_FETCH_WITH_CLI=true``` is used.

Reference link: ```https://doc.rust-lang.org/cargo/appendix/git-authentication.html```

This is also an issue with the Gix backend (https://github.com/GitoxideLabs/gitoxide/issues/37)